@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 16px;
  font-weight: 400;
}

body {
  background: hsl(235, 18%, 26%);
  height: 100%;
}

